body{

    /*background:url(images/bg.jpg) rgba(0,0,0,0.3);*/
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar-custom{
    position: sticky !important;
    background-color: black;
    
}
.navbar-brand{
    position: sticky !important;
    padding: 30px;

}
.text-logo{

    color: orange;
    font-weight: 500;

}
.hero-section{

    background: url(images/main.jpg);
    min-height: 550px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-heading-cont{

display: flex;
justify-content: center;
align-items: center;
height: 100px;
/* background-color: aliceblue; */

}
.heading-main{

color: orange;
font-family:"Roboto", sans-serif;

}
.destinationcards{

display: flex;
justify-content:center;
height: 250px;
/* gap: 10px; */
}
.card-img-bottom{

   /* width: 250px; */
    height: 250px;
    /* object-fit: cover; */
}
.testi-des{

height: 150px;
background-color: red;

}

/* .tesi-test{
    display: flex !important;
    justify-content:center !important;

} */
 

 img.card-img-top {
    
    width: 300px;
    height: 400px;
}

.review-card {
	max-height: 300px;
	height: 300px;
	border-bottom: 5px solid #0af4ff !important;
	border-radius: 20px !important;
}

.card-img-top{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.paragraphs
{

    text-align:center;
    padding-left: 10%;
    padding-right: 15%;

}
.newnew {
    display: flex;
    justify-content: center;
     width: 100%  !important;

}
.card-title{

    text-align: center;

}
.banner{

height: 150px;
background-color: aqua;
 

}
.header
{
    height: 250px;
    background-color: rgb(15, 18, 59);
    
    
}
.headernw
{
  height: 250px;
  background-color: rgb(15, 18, 59);
  width: 100% !important;
  border-radius: 29px;
  margin-bottom: 20px;
    
    
}


.sub-new{

    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    

}
.after-t{

    font-family:"Roboto", sans-serif;
    font-size: 18PX;
}
.reviews{

    /* background-color: orange; */
    height: 150px;
}
.hotel-name
{
    text-align: center;
    color:rgb(72, 72, 255);

}
.card1{

     width: 4px !important;
    margin-left: 1px;
    row-gap: 10px;
}
.card-text{

    text-align: center;

}
.country{

 color: black;
 font-size: 18px;
  

}
.cardx-footer{

    display: flex;
    justify-content: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    display: flex;
     
    justify-content: center;
    /* gap: 10px; */
  }
  
  
  
  .form-group {
      display: flex !important;
    justify-content: center !important;
     
    margin-bottom: 10px;
    width: 95%;
  }


  
  .half {
    width: 50% !important;
  }
  .cont-title{

    color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 25px;

}
  label {
    display: block;
    font-weight: bold;
  }
  
  
  
  input[type="text"],
  input[type="email"],
  input[type="tel"]
   {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cfcbcb;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .error {
    color: red;
  }

  .sub-btn{
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #23f5e3;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

  }
  .sub-btn:hover{
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #15beb0;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

  }
  .start-form {
   width: 25px;

  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-links ul,
  .footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li,
  .footer-social ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links ul li a,
  .footer-social ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .listing-item {
    margin-top:0!important;
    padding-top: 12px;
    margin-bottom: 0 !important;

}

h2.footer-menu-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

@media(max-width: 991px){

.sidebars  {

    background-color: rgba(255,255,255,0.15) !important;
    backdrop-filter: blur(10px);
}

}
  
  /* Media Queries for Responsive Design */
  
  @media only screen and (max-width: 600px) {
    .half {
      width: 100%; /* Set the width to 100% for smaller screens */
      margin-bottom: 10px; /* Adjust margin for better spacing */
    }
  }